.whole-container { 
  background: blanchedalmond;
  height: 300px;
  width: 250px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
  margin-left: 600px;
  margin-top: 150px;
  padding-bottom: 10px;
  box-shadow: 5px 3px;
}

.heading {
  margin: auto 0;
  border: 5px solid black;
  width: 175px;
  /* display       : flex;
  justify-content: center;
  align-items   : center;
  width: 200px; */
}

.first {

}

.first-buttons {
  padding: px 5px;
}
.second-buttons {
  padding: 2px 5px;;
}

.third-buttons {
  padding: 2px 5px;;
}

.fourth-buttons {
  padding: 2px 5px;
}

button{
  border: 2px solid black;
  font-size: 20px;
  width: 40px;
  /* padding: 10px 5px; */
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.result {
  font-size: 20px;
}

.title-container {
  text-align: center;
  margin-right: 30px;
}

