body{

  background-color: #2C5F2DFF;
}




.whole-container { 
    margin: auto;
    margin-top: 200px;
    background-color: #CAAD7E;
    width: 325px;
    height: 355px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button {
  outline: 0;
  position: relative;
  right: 20px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2); 
  border-radius: 50px;
  }

  #result {
      font-weight: Bold;
      width: 270px;
      height: 40px;
      font-size: 26px;
      text-align: right;
      align-items: center;
      background-color: #f1faeb;
      float: center;
      margin-left: 26px;
      box-shadow: 0 4px rgba(0,0,0,0.2);
  }

  #result:hover {
    width: 270px;
    font-size: 26px;
    text-align: right;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    background-color: #f1faeb;
  }


  #clear {
  background-color: red;
  }

    button {
    font-family: courier;
    font-weight: bold;
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(0,0,0,0.2); 
    }

    button:hover{
      background-color: #ECEBC9;
    }

    .first {
      margin-left: 17px;
    }

    .second {
      margin-left: 17px;
    }

    .third {
      margin-left: 17px;
    }

    .fourth {
      margin-left: 17px;
    }


    #divide {
      background-color: red;
    }